In [1]:
import pandas as pd

In [2]:
reserve_tb = pd.read_csv('reserve.csv')
reserve_tb = reserve_tb[['reserve_id', 'customer_id', 'people_num']]
print(reserve_tb.shape)
reserve_tb.head()

(4030, 3)

  reserve_id customer_id  people_num
0         r1         c_1           4
1         r2         c_1           2
2         r3         c_1           2
3         r4         c_1           4
4         r5         c_1           3

In [3]:
pd.pivot_table(reserve_tb, index='customer_id', columns='people_num', values='reserve_id', aggfunc=lambda x: len(x), fill_value=0).head()

people_num   1  2  3  4
customer_id
c_1          2  2  2  2
c_10         0  2  2  2
c_100        2  1  2  0
c_1000       1  0  0  1
c_101        2  1  1  1